<!DOCTYPE HTML>
<html>
	<head>
		<title>Andre and Quinn's Development Server</title>
	</head>
	<body>
		<h1>Andre and Quinn's Dev Server</h1>
		<p>This is Andre and Quinn's development server. Its sole purpose is to
		offer a space where Andre and Quinn can develop mods.</p>
	</body>
</html>